@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin:0;
  padding:0;
  font-family:'Inter', sans-serif;
  box-sizing: border-box;
};

.path-0{
            animation:pathAnim-0 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }
          @keyframes pathAnim-0{
            0%{
              d: path("M 0,600 C 0,600 0,200 0,200 C 93.45454545454547,177.444976076555 186.90909090909093,154.88995215311004 277,157 C 367.09090909090907,159.11004784688996 453.81818181818176,185.8851674641148 547,216 C 640.1818181818182,246.1148325358852 739.8181818181818,279.5693779904306 832,266 C 924.1818181818182,252.4306220095694 1008.909090909091,191.83732057416267 1109,173 C 1209.090909090909,154.16267942583733 1324.5454545454545,177.08133971291866 1440,200 C 1440,200 1440,600 1440,600 Z");
            }
            25%{
              d: path("M 0,600 C 0,600 0,200 0,200 C 110.06698564593302,231.43540669856458 220.13397129186603,262.87081339712915 310,268 C 399.86602870813397,273.12918660287085 469.53110047846883,251.95215311004785 568,216 C 666.4688995215312,180.04784688995215 793.7416267942584,129.32057416267943 904,141 C 1014.2583732057416,152.67942583732057 1107.5023923444976,226.76555023923447 1194,247 C 1280.4976076555024,267.23444976076553 1360.248803827751,233.61722488038276 1440,200 C 1440,200 1440,600 1440,600 Z");
            }
            50%{
              d: path("M 0,600 C 0,600 0,200 0,200 C 81.73205741626793,197.89473684210526 163.46411483253587,195.78947368421055 251,183 C 338.53588516746413,170.21052631578945 431.87559808612446,146.73684210526312 548,147 C 664.1244019138755,147.26315789473688 803.0334928229665,171.2631578947369 915,199 C 1026.9665071770335,226.7368421052631 1111.9904306220096,258.2105263157894 1195,259 C 1278.0095693779904,259.7894736842106 1359.0047846889952,229.8947368421053 1440,200 C 1440,200 1440,600 1440,600 Z");
            }
            75%{
              d: path("M 0,600 C 0,600 0,200 0,200 C 88.63157894736838,223.46411483253587 177.26315789473676,246.92822966507177 288,225 C 398.73684210526324,203.07177033492823 531.5789473684212,135.7511961722488 618,150 C 704.4210526315788,164.2488038277512 744.4210526315788,260.0669856459331 839,269 C 933.5789473684212,277.9330143540669 1082.7368421052633,199.98086124401914 1192,174 C 1301.2631578947367,148.01913875598086 1370.6315789473683,174.00956937799043 1440,200 C 1440,200 1440,600 1440,600 Z");
            }
            100%{
              d: path("M 0,600 C 0,600 0,200 0,200 C 93.45454545454547,177.444976076555 186.90909090909093,154.88995215311004 277,157 C 367.09090909090907,159.11004784688996 453.81818181818176,185.8851674641148 547,216 C 640.1818181818182,246.1148325358852 739.8181818181818,279.5693779904306 832,266 C 924.1818181818182,252.4306220095694 1008.909090909091,191.83732057416267 1109,173 C 1209.090909090909,154.16267942583733 1324.5454545454545,177.08133971291866 1440,200 C 1440,200 1440,600 1440,600 Z");
            }
          }

          .path-1{
            animation:pathAnim-1 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }
          @keyframes pathAnim-1{
            0%{
              d: path("M 0,600 C 0,600 0,400 0,400 C 115.58851674641147,424.02870813397135 231.17703349282294,448.05741626794264 335,446 C 438.82296650717706,443.94258373205736 530.8803827751196,415.7990430622009 603,419 C 675.1196172248804,422.2009569377991 727.3014354066986,456.7464114832536 811,461 C 894.6985645933014,465.2535885167464 1009.9138755980862,439.21531100478467 1120,424 C 1230.0861244019138,408.78468899521533 1335.043062200957,404.39234449760767 1440,400 C 1440,400 1440,600 1440,600 Z");
            }
            25%{
              d: path("M 0,600 C 0,600 0,400 0,400 C 113.48325358851676,401.07177033492826 226.96650717703352,402.1435406698565 306,412 C 385.0334928229665,421.8564593301435 429.61722488038276,440.4976076555023 530,443 C 630.3827751196172,445.5023923444977 786.5645933014354,431.866028708134 897,417 C 1007.4354066985646,402.133971291866 1072.1244019138755,386.0382775119617 1155,383 C 1237.8755980861245,379.9617224880383 1338.9377990430621,389.98086124401914 1440,400 C 1440,400 1440,600 1440,600 Z");
            }
            50%{
              d: path("M 0,600 C 0,600 0,400 0,400 C 116.44019138755979,442.2392344497607 232.88038277511959,484.4784688995215 318,470 C 403.1196172248804,455.5215311004785 456.91866028708137,384.3253588516747 551,363 C 645.0813397129186,341.6746411483253 779.4449760765551,370.22009569377985 881,374 C 982.5550239234449,377.77990430622015 1051.3014354066986,356.79425837320576 1139,357 C 1226.6985645933014,357.20574162679424 1333.3492822966507,378.6028708133971 1440,400 C 1440,400 1440,600 1440,600 Z");
            }
            75%{
              d: path("M 0,600 C 0,600 0,400 0,400 C 87.59808612440193,397.52153110047846 175.19617224880386,395.04306220095697 261,407 C 346.80382775119614,418.95693779904303 430.81339712918657,445.3492822966507 523,447 C 615.1866028708134,448.6507177033493 715.5502392344499,425.5598086124402 829,396 C 942.4497607655501,366.4401913875598 1068.9856459330142,330.41148325358853 1173,330 C 1277.0143540669858,329.58851674641147 1358.507177033493,364.7942583732057 1440,400 C 1440,400 1440,600 1440,600 Z");
            }
            100%{
              d: path("M 0,600 C 0,600 0,400 0,400 C 115.58851674641147,424.02870813397135 231.17703349282294,448.05741626794264 335,446 C 438.82296650717706,443.94258373205736 530.8803827751196,415.7990430622009 603,419 C 675.1196172248804,422.2009569377991 727.3014354066986,456.7464114832536 811,461 C 894.6985645933014,465.2535885167464 1009.9138755980862,439.21531100478467 1120,424 C 1230.0861244019138,408.78468899521533 1335.043062200957,404.39234449760767 1440,400 C 1440,400 1440,600 1440,600 Z");
            }
          }

          .path-2{
            animation:pathAnim-2 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }
          @keyframes pathAnim-2{
            0%{
              d: path("M 0,600 C 0,600 0,450 0,450 C 66.32564102564103,474.73333333333335 132.65128205128207,499.4666666666667 206,480 C 279.34871794871793,460.5333333333333 359.7205128205128,396.8666666666666 450,399 C 540.2794871794872,401.1333333333334 640.4666666666667,469.0666666666667 724,480 C 807.5333333333333,490.9333333333333 874.4128205128204,444.8666666666666 952,429 C 1029.5871794871796,413.1333333333334 1117.8820512820512,427.4666666666667 1201,436 C 1284.1179487179488,444.5333333333333 1362.0589743589744,447.26666666666665 1440,450 C 1440,450 1440,600 1440,600 Z");
            }
            25%{
              d: path("M 0,600 C 0,600 0,450 0,450 C 82.53589743589743,456.0948717948718 165.07179487179485,462.1897435897436 238,473 C 310.92820512820515,483.8102564102564 374.24871794871797,499.3358974358974 463,483 C 551.751282051282,466.6641025641026 665.9333333333333,418.4666666666667 743,423 C 820.0666666666667,427.5333333333333 860.0179487179488,484.7974358974359 940,490 C 1019.9820512820512,495.2025641025641 1139.9948717948716,448.34358974358975 1230,433 C 1320.0051282051284,417.65641025641025 1380.002564102564,433.8282051282051 1440,450 C 1440,450 1440,600 1440,600 Z");
            }
            50%{
              d: path("M 0,600 C 0,600 0,450 0,450 C 61.62820512820514,470.9025641025641 123.25641025641028,491.8051282051282 203,475 C 282.7435897435897,458.1948717948718 380.6025641025641,403.68205128205125 466,409 C 551.3974358974359,414.31794871794875 624.3333333333334,479.4666666666667 716,483 C 807.6666666666666,486.5333333333333 918.0641025641025,428.451282051282 1000,410 C 1081.9358974358975,391.548717948718 1135.4102564102564,412.72820512820516 1204,426 C 1272.5897435897436,439.27179487179484 1356.2948717948718,444.6358974358974 1440,450 C 1440,450 1440,600 1440,600 Z");
            }
            75%{
              d: path("M 0,600 C 0,600 0,450 0,450 C 84.82051282051285,459.78205128205127 169.6410256410257,469.56410256410254 256,462 C 342.3589743589743,454.43589743589746 430.2564102564103,429.52564102564105 501,426 C 571.7435897435897,422.47435897435895 625.3333333333334,440.33333333333326 704,451 C 782.6666666666666,461.66666666666674 886.4102564102566,465.1410256410257 978,473 C 1069.5897435897434,480.8589743589743 1149.0256410256409,493.10256410256403 1224,490 C 1298.9743589743591,486.89743589743597 1369.4871794871797,468.448717948718 1440,450 C 1440,450 1440,600 1440,600 Z");
            }
            100%{
              d: path("M 0,600 C 0,600 0,450 0,450 C 66.32564102564103,474.73333333333335 132.65128205128207,499.4666666666667 206,480 C 279.34871794871793,460.5333333333333 359.7205128205128,396.8666666666666 450,399 C 540.2794871794872,401.1333333333334 640.4666666666667,469.0666666666667 724,480 C 807.5333333333333,490.9333333333333 874.4128205128204,444.8666666666666 952,429 C 1029.5871794871796,413.1333333333334 1117.8820512820512,427.4666666666667 1201,436 C 1284.1179487179488,444.5333333333333 1362.0589743589744,447.26666666666665 1440,450 C 1440,450 1440,600 1440,600 Z");
            }
          }


          #dropdownRadio {
            position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate3d(522.5px, 3847.5px, 0px);
          }


          .feature-wrap:hover .text-feature {
            visibility: hidden;
          }

          .text-feature {
            writing-mode: vertical-lr;
            text-orientation: upright;
          }